{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- ==================== PAGE DE PAIEMENT ==================== -->
{% include "views/ACCUEIL.html" %}

<!-- ==================== CHOIX DE L'EXAMEN ==================== -->
{% include "views/CHOIX_DE_L_EXAMEN.html" %}

<!-- ==================== MODAL ANNEE ==================== -->
{% include "views/MODAL.html" %}
 
<!-- ==================== PAGE DE PAIEMENT ==================== -->
{% include "views/PAIEMENT.html" %}







{% endblock %}