{% load django_browser_reload static   %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resultat scolaire</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#063eb0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/app.js' %}"></script>
    <!-- tailwind js -->
     <script   src="{% static 'js/tailwindcss.js' %}"></script>
    
</head>
{% django_browser_reload_script %}
<body class="relatif bg-[#063eb0] h-screen overflow-hidden">
 
    {% block content %}

    {% endblock %}
     
  <script>
    // Détermine si nous sommes en développement (Django DEBUG = True)
    const debug = {% if DEBUG %}true{% else %}false{% endif %};
    if ('serviceWorker' in navigator) {
      const isLocalhost = window.location.hostname === 'localhost' || 
                          window.location.hostname === '127.0.0.1' ||
                          window.location.hostname.startsWith('192.168.');
      if (window.location.protocol === 'https:' || isLocalhost) {
        window.addEventListener('load', function() {
          const swUrl = "{% static 'js/serviceworker.js' %}";
          navigator.serviceWorker.register(swUrl)
            .then(function(registration) {
              if (debug) {
                console.log('ServiceWorker enregistré avec succès: ', registration.scope);
              }
            })
            .catch(function(error) {
              if (debug) {
                console.error('Erreur lors de l\'enregistrement du ServiceWorker: ', error);
              }
            });
        });
      } else if (debug) {
        console.warn('Le Service Worker nécessite HTTPS.');
      }
    } else if (debug) {
      console.warn('Service Worker non supporté par ce navigateur.');
    }
  </script>
 
</body>
</html>