{% load static %}
<!-- ==================== PAGE D'ACCUEIL ==================== -->
<div
      id="PagesStart"
      class="page-section relative flex flex-col transition-all ease-in-out duration-700 w-full min-h-screen"
      style='font-family: "Public Sans", "Noto Sans", sans-serif;'
    >
  <div>
    <div class="flex w-full grow @container">
      <div class="w-full gap-1 overflow-hidden @[480px]:gap-2 h-[400px] flex">
        <div
          class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-b-3xl flex-1 animate-fade-in"
          style='background-image: url("{% static "assets/mepsa.png" %}");'
        ></div>
      </div>
    </div>
    <h2 class="text-white text-[28px] font-bold px-4 text-center pb-3 pt-3 animate-slide-up">
      Consultez vos résultats en toute simplicité
    </h2>
    <p class="text-slate-200 text-base px-4 text-center animate-slide-up delay-100">
      Vérifiez les résultats du BAC, BEPC, CEPE depuis votre mobile. Rapide, sécurisé et officiel pour tous les élèves du Congo.
    </p>
  </div>
  <div>
    <div class="flex justify-center p-4">
    
      <!--  ----------  button Continuer ----------  -->
        <c-button bg="bg-white" click="showPage('ChoiseExam')" titre="Continuer" /> 

    </div>
  </div>
</div>
