<!-- ==================== CHOIX DE L'EXAMEN ==================== -->
<div
      id="ChoiseExam"
      class="page-section relative hidden flex size-full min-h-screen flex-col bg-white justify-between overflow-x-hidden"
      style='font-family: "Public Sans", "Noto Sans", sans-serif;'
    >
  <div>
  
        <c-back marg="mb-12" titre="Selection de l'examen" click="showPage('PagesStart')" />

    <!-- Exam list -->
    <div id="examList" class="space-y-2 px-4 py-2">
      <c-selectExam titre="BAC" sous_titre="Baccalaureate" />
      <c-selectExam titre="BEPC" sous_titre="Brevet d'études du premier cycle" />
      <c-selectExam titre="CEPE" sous_titre="Examen de sortie de l'enseignement primaire" />
    </div>
  </div>

  <!-- Bouton Next -->
   
  <div class="flex px-4 py-12">
     <!--  ----------  button Continuer ----------  -->
    <c-button bg="bg-[#063eb0] text-white" click="showYearModal()" titre="Next" /> 
  </div>
</div>