<!-- ==================== MODAL ANNEE ==================== -->
<div id="yearModal" class="fixed inset-0 hidden z-50 bg-black bg-opacity-40 justify-center items-end transition-opacity">
  <div class="modal-content bg-white w-full rounded-t-2xl p-4 h-[400px]">
    <h3 class="text-center text-lg font-bold p-5 mb-2 animate-fade-in">Choisissez l'année</h3>
    <div class="picker relative mx-auto w-full max-w-xs">
      <div class="picker-window absolute inset-x-0 top-1/2 transform -translate-y-1/2 h-10 pointer-events-none border-y border-slate-300"></div>
      <ul id="pickerYearList" class="picker-year overflow-y-scroll h-[160px] py-20 px-6 snap-y snap-mandatory text-center text-[#063eb0] text-2xl font-medium space-y-3">
         <c-li year="2026" />
         <c-li year="2025" />
         <c-li year="2024" />
         <c-li year="2023" />
         <c-li year="2022" />
         <c-li year="2021" />
         <c-li year="2020" />
         <c-li year="2019" />
         <c-li year="2018" />
         <c-li year="2017" />
         <c-li year="2016" />
         <c-li year="2015" />
         <c-li year="2014" />
         <c-li year="2013" />
         <c-li year="2012" />
         <c-li year="2011" />
         <c-li year="2010" />
      </ul>
    </div>
    <div class="flex gap-4 justify-center items-center  ">
      <c-button bg="bg-[#063eb0] text-white" click="confirmYear()" titre="Valider" /> 
      <c-button bg="bg-white  hover:bg-[#063eb0] hover:text-white text-[#063eb0] border-[#063eb0] border-2 text-base font-bold w-full transition-all duration-300" click="closeYearModal()" titre="Annuler" /> 
    </div>
  </div>
</div>